<div class="vertical-menu-divider">
  <ul class="nav flex-column nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/transfusions/add">Add transfusion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transfusions/update">Update transfusion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transfusions/delete">Delete transfusion</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transfusions/get">Get transfusion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transfusions/get-all">Get All transfusions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transfusions/filter">Get filtered transfusions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transfusions/report">Report about transfusions</a>
    </li>
  </ul>
</div>
