<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/hospitals">Hospitals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/doctors">Doctors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/persons">Persons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/prescriptions">Prescriptions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/transfusions">Transfusions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/drugs">Drugs</a>
  </li>
</ul>
