<div class="vertical-menu-divider">
  <ul class="nav flex-column nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/hospitals/add">Add hospital</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hospitals/update">Update hospital</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hospitals/delete">Delete hospital</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hospitals/get">Get hospital</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hospitals/get-all">Get All hospitals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hospitals/filter">Get filtered hospitals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/hospitals/report">Report about hospitals</a>
    </li>
  </ul>
</div>
