<div class="vertical-menu-divider">
  <ul class="nav flex-column nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors/add">Add doctor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors/update">Update doctor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors/delete">Delete doctor</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors/get">Get doctor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors/get-all">Get all doctors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors/filter">Get filtered doctors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doctors/report">Report about doctors</a>
    </li>
  </ul>
</div>

