<div class="vertical-menu-divider">
  <ul class="nav flex-column nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/prescriptions/add">Add prescription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prescriptions/update">Update prescription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prescriptions/delete">Delete prescription</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prescriptions/get">Get prescription</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prescriptions/get-all">Get All prescriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prescriptions/filter">Get filtered prescriptions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prescriptions/report">Report about prescriptions</a>
    </li>
  </ul>
</div>
