<div class="vertical-menu-divider">
  <ul class="nav flex-column nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/persons/add">Add person</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/persons/update">Update person</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/persons/delete">Delete person</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/persons/get">Get persons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/persons/get-all">Get All persons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/persons/filter">Get filtered persons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/persons/report">Report about persons</a>
    </li>
  </ul>
</div>
