<div class="vertical-menu-divider">
  <ul class="nav flex-column nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/drugs/add">Add drug</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/drugs/update">Update drug</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/drugs/delete">Delete drug</a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/drugs/get">Get drug</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/drugs/get-all">Get All drugs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/drugs/filter">Get filtered drugs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/drugs/report">Report about drugs</a>
    </li>
  </ul>
</div>
